.user-images {
  float: left;
}

.user-images img {
  margin-left: 20px;
}

.home-nav {
  color: white;
  text-decoration: none;
}

.user-index-card {
  margin-bottom: 5px;
  width: 50%;
}

.no-decoration {
  text-decoration: none;
}

.settings-menu-gear {
  color: black;
  font-size: 200px;
}

.inline {
  display: inline;
}

.question-select-and-answer {
  display: inline-block;
  margin: 20px;
}

.user-profile-question-answer {
  display: inline-block;
  margin: 20px;
}
